*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
/* header */
.header{
    background-color: rgb(67, 67, 67);
    overflow: hidden;
    display: flex;
    align-items: center;
    /* width: 100%; */
    height: 120px;
    
}
.logo{
    /* float: left; */
}
.logo>img{
    width: auto;
    height: 120px;
}
.nav{
    width: 900px;

}
.nav>ul{
    height: 120px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.nav a{
    font-family: 'Roboto Slab', serif;
    color: white;
    display: block;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 300;
    padding: 5px 10px;
}
.nav a:hover{
    background-color: dimgrey;
}
/* image */
.home-img{
    background-image: url(../../img/background.jpg);
    /* opacity: 95%; */
    opacity: 95%;
    background-position: top;
    background-size: cover;
    overflow: hidden;
    min-height: calc(88vh - 120px);
    text-align: center;
}
.home-title{
    font-family: 'Roboto Slab', serif;
    color: white;
    font-weight: 500;
    opacity: 100%;
    /* font-size: 46px; */
    font-size: 3em;
    margin-top: 140px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    /* text-align: center; */

}
.home-subtitle{
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-weight: 400;
    margin-top: 90px;
    /* font-size: 26px; */
    font-size: 1.5em;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    letter-spacing: -1px;
}
/* main content */
.gap-bottom{
    margin-bottom: 20px;
}
.main{
    margin: 20px;
    margin-bottom: 40px;
}
.main h2{
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    font-size: 46px;
    letter-spacing: -2px;
    
}
.main section{
    font-family: 'Open sans', sans-serif;
    font-weight: 400;
    size: 1em;
    color: #626262;
}
/* footer */
.footer{
    display: flex;
    background-color: rgb(67, 67, 67);
    overflow: hidden;
    
    align-items: center;
    height: 120px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
    font-family: 'Open sans', sans-serif;
}
.social i{
    color: blue;
    font-size: 1.2rem;
}
