.fg-light{
    color: antiquewhite;
}
.aueb-title-bg{
    background-color: green;
}
body{
    margin: 30px;
}
.cf-title-bg{
    background-color: brown;
}
.aueb-text-bg{
    background-color: blue;
}