/*select h2 kai p me id*/
h2[id],p[id]{
    background-color: aqua;
}
/*select <a> with href// #*/
a[href="#"]:hover{
    background-color: antiquewhite;
}
/*select anything with class name starts with info* */
*[class^="info"]{
    background-color: cadetblue;
}
/*select anythint that have a class name tha includes "text"*/
*[class*="text"]{
    background-color: red;
}
/*select h2 with class name ends with title */
h2[class$="title"]{
    font-style: italic;
}
/*select links start with "https" ends with ".gr" */
a[href^="https"][href$=".gr"]{
    color: green;
}