*{
    margin: 10px 2px;
    /* padding: 10px; */
}

/* .container{
    background-color: gray;
} */
.container > h2:first-of-type{
    font-size: 24px;
}
.container > p:first-of-type{
    color: red;
}
ul > :first-of-type{
    font-weight: bold;
}
ul > li:nth-child(3){
    color: green;
}